body {
  margin: 0;
  font-family: helvetica light;
}

.header {
  width: 70%;
  display: flex;
  height: 50px;
  margin-left: 15%;
  position: fixed;
  top: 0%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
}

.bicon {
  display: none;
  text-decoration: none;
}

.skargaarden {
  width: 50px;
  height: 100%;
}

.skargaarden img {
  width: 50px;
  height: 50px;
}

.navbar {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 100;
}

.nav {
  text-decoration: none;
}

.nav span {
  font-size: 20px;
  color: grey;
}

.nav span:hover {
  border-bottom: 1px solid black;
}

.icons {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon img {
  width: 30px;
  height: 30px;
}

.mainblock {
  width: 70%;
  margin-left: 15%;
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
  width: 30%;
  height: 400px;
  margin-bottom: 5%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.products span {
  color: white;
  font-size: 40px;
}

.end {
  width: 70%;
  height: 300px;
  background-color: #f8f8f8;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.end_top {
  width: 60%;
  height: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info {
  text-decoration: none;
}

.info span {
  font-size: 17px;
  color: black;
  margin-right: 20px;
}

.info span:hover {
  border-bottom: 1px solid black;
}

.social {
  width: 12%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social img {
  width: 30px;
  height: 30px;
}

.end_bottom {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.end_bottom a {
  text-decoration: none;
}

.end_bottom span {
  color: black;
  font-size: 20px;
}

.space {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }

  .nav {
    display: none;
  }

  .bicon {
    display: block;
    position: absolute;
    left: 10px;
    top: -10px;
    color: #777777;
  }

  .navbar.responsive .nav {
    display: block;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    height: 50px;
    background-color: white;
    width: 200px;
    border: 2px solid white;
    margin-left: 20px;
  }

  .navbar.responsive {
    width: 60%;
    flex-direction: column;
    padding-top: 90px;
    width: 200px;
    margin-left: 20px;
  }

  .header {
    width: 95%;
    margin-left: 10px;
    height: 60px;
    background-color: white;
  }

  .skargaarden {
    position: fixed;
    top: 5px;
    left: 40%;
  }

  .icons {
    margin-right: 30px;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .mainblock {
    width: 93%;
    margin-left: 20px;
  }

  .products {
    width: 98%;
    height: 300px;
  }

  .products span {
    font-size: 30px;
  }

  .ender {
    width: 90%;
    margin-left: 5%;
  }

  .ender_block1 {
    height: 200px;
  }

  .ender_block1 a {
    font-size: 15px;
    text-align: center;
  }

  .ender_block2 {
    height: 200px;
  }

  .ender_block2 a {
    font-size: 15px;
    text-align: center;
  }

  .end {
    width: 90%;
    margin-left: 5%;
  }

  .end_top {
    width: 90%;
  }

  .info span {
    font-size: 13px;
  }

  .end_bottom span {
    font-size: 8px;
  }

  .end_bottom {
    width: 90%;
    display: none;
  }

  .space {
    display: none;
  }

  .social {
    width: 50%;
  }
}

@media screen and (min-width: 400px) and (max-width: 820px) {
  body {
    overflow-x: hidden;
  }

  .nav {
    display: none;
  }

  .bicon {
    display: block;
    position: absolute;
    left: 8px;
    top: -10px;
    color: #777777;
  }

  .navbar.responsive .nav {
    display: block;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    height: 50px;
    background-color: white;
    width: 200px;
    border: 2px solid white;
    margin-left: 20px;
  }

  .navbar.responsive {
    width: 60%;
    flex-direction: column;
    padding-top: 90px;
    width: 200px;
    margin-left: 20px;
  }

  .header {
    width: 99%;
    margin-left: 10px;
    height: 60px;
    background-color: white;
  }

  .skargaarden {
    position: fixed;
    top: 5px;
    left: 45%;
  }

  .icons {
    margin-right: 30px;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .mainblock {
    width: 95%;
    margin-left: 20px;
  }

  .products {
    width: 49%;
    height: 300px;
  }

  .products span {
    font-size: 30px;
  }

  .ender {
    width: 90%;
    margin-left: 5%;
  }

  .ender_block1 {
    height: 200px;
  }

  .ender_block1 a {
    font-size: 15px;
    text-align: center;
  }

  .ender_block2 {
    height: 200px;
  }

  .ender_block2 a {
    font-size: 15px;
    text-align: center;
  }

  .end {
    width: 90%;
    margin-left: 5%;
  }

  .end_top {
    width: 90%;
  }

  .info span {
    font-size: 13px;
  }

  .end_bottom span {
    font-size: 8px;
  }

  .end_bottom {
    width: 90%;
    display: none;
  }

  .space {
    height: 300px;
  }

  .social {
    width: 50%;
  }
}
